*, *::before, *::after{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    appearance: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One:ital@0;1&family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bricolage+Grotesque&family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Edu+SA+Beginner:wght@400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Jura:wght@300;400;500;600;700&family=Maven+Pro:wght@400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Signika:wght@300;400;500;600;700&display=swap');

:root{
    --primary-color:grey;
    --secondary-color:black;
    --text-color:white;
}
body{
    background: linear-gradient(to top, #000000, #292929);
    margin: 0;
    height: 170vh;
    font-family: 'Alumni Sans Collegiate One', sans-serif;
    font-family: 'Bitter', serif;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Edu SA Beginner', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Jura', sans-serif;
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Philosopher', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Signika', sans-serif;
}
#header{
background-color: var(--secondary-color);
height: 100px;
}
.LogIn-Image{
    width: 150px;
    height: auto;
}
#header img {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-left: 20px;
}
/*  Ab hier geht es weiter mit dem Stylen des Log Ins */
.login-box {
    background-color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: block;
    justify-content: center;
    width: 750px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 70px;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top:190px;
}

.login-box h2 {
    margin-bottom: 20px;
    color: var(--text-color);
    font-size: 3rem;
    padding-top: 20px;
    padding-bottom: 20px;
}
/* Das sind die Styles für die Input Felder zum anmelden */
.login-box input {
    width: 60%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #727171;
    border-radius: 4px;
    background: #141414;
    padding-top: 20px;
    color: white;
}
.Email:hover {
    border: 1px solid #fff;
}
.password:hover {
    border: 1px solid #fff;
}
.login-box h4{
    color: var(--text-color);
    display: flex;
    align-items: center;
    padding-left: 150px;
    padding-bottom: 12px;
    font-size: 1rem;
}

.login-box button {
    width: 60%;
    padding: 10px;
    background-color: #4caf50;
    color:black;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    
}

.login-box button:hover {
    background-color: #45a049;
}

.login-box .social-buttons {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    text-transform: none;
    letter-spacing: normal;
    margin: auto;
}

.login-box .social-buttons a {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: 2px solid rgb(119, 119, 119);
    border-radius: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center; 
    align-items: center;
    text-decoration: none;
}

.login-box .social-buttons a:nth-child(2) {
    background-color: var(--secondary-color);
    /* Google */
}

.login-box .social-buttons a:nth-child(3) {
    background-color: var(--secondary-color); /* Apple */
}

.login-box .social-buttons a:hover {
    opacity: 0.8;
}
/*  Hier bearbeite ich die Icons Seperat */
span {
    display: flex;
    justify-content: center;
    position:absolute;
    align-items: center;
    text-align: center;
    padding-top: 1px;
    padding-right: 280px;
}
/*  Hier Geht es um das Sytlen des Benutzername speichern Button */
#switch-container {
    position: relative;
    display: flex;
    margin-left: 150px;
    padding-top: 20px;
}

#switch {
    width: 40px;
    height: 20px;
    background-color: #6c6a6a;
    border-radius: 20px;
    position: absolute;
    transition: background-color 0.5s;
    display: flex;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}
#circle {
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    transition: transform 0.5s ease-in-out;
}

#switch-container h3{
    color: var(--text-color);
    padding-left: 70px;
    padding-bottom:20px;
}
#switch.active {
    border: 3px solid white;
}

/*  Hier ist nochmal seperat der Button für das Anmelden */
.Submit{
    margin-top: 30px;
}

/*  Hier Ist ein Kleiner Abnschitt für den Style für den Button Passwort vergessen  */
.Passwort_V{
    padding-top:30px;
}

.Passwort_V a{
    color: var(--text-color);
    text-decoration: underline;
}
.Passwort_V a:hover {
    color: #4caf50;
}

/*  Hier ist der Kleine Abschnitt für den Style falls man sich regestrieren soll */
.Kein_Konto{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.Kein_Konto h3{
    color: var(--text-color);
}
.Kein_Konto a{
    color: var(--text-color);
    padding-left: 12px;
    padding-top: 2px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: underline;
}
.Kein_Konto a:hover {
    color: #4caf50;
}

/* Der Footer */

.footer{
    color: var(--text-color);
    font-size: 0.900rem;
}
.footer a{
    color: var(--text-color);
    text-decoration: underline;
}
.footer a:hover {
    color: #4caf50;
}